.menu {
    background-color: white;
    ;
}

.content {
    max-width: 1480px;
    margin: auto;
    padding-top: 135px;
    padding-bottom: 135px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: center;
}

.img {
    width: 961px;
}

.card {
    display: flex;
    filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
    border-radius: 16px;
}

.inf {
    background-color: white;
    width: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 48px;
    gap: 10px;
    width: 21vw;
    height: 60px;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.text,
.arrow {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title,
.color {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #212121;
    margin: 0;
    padding-bottom: 19px;
}

.color {
    color: #FFB30E;
}

.subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #616161;
    margin: 0;
    padding-bottom: 94px;
}

@media(max-width: 1572px) {
    .img {
        width: 761px;
    }

}

@media(max-width: 1330px) {
    .img {
        width: 661px;
    }

    .inf {
        padding: 26px;
    }

    .content {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media(max-width: 1194px) {
    .card {
        height: 320px;
    }

    .img {
        width: 490px;
    }

    .subtitle {
        padding-bottom: 54px;
    }

    .title,
    .color {
        font-size: 38px;
        margin-top: 15px;
    }

    .button {
        margin-bottom: 20px;
    }
}

@media(max-width: 975px) {
    .inf {
        width: 307px;
    }

    .title,
    .color {
        font-size: 32px;
    }

    .button {
        width: auto;
    }

}


@media(max-width: 903px) {
    .img {
        width: 390px;
    }

    .card {
        height: 270px;
    }
    .subtitle {
        padding-bottom: 24px;
    }
}

@media(max-width: 800px) {
  .inf {
    width: 247px;
  }
  .title, .color {
    font-size: 22px;
    padding-top: 20px;
  }
  .text {
    font-size: 15px;
  }
}


@media(max-width: 715px) {
   .card {
    flex-direction: column-reverse;
    height: auto;
    width: 490px;
   }
   .inf, .img {
    width: 490px;
    box-sizing: border-box;
   }
   .title, .color {
    font-size: 36px;
   }
  }


  @media(max-width: 570px) {
    .card {
     width: 380px;
    }
    .inf, .img {
     width: 380px;
     box-sizing: border-box;
    }
    .title, .color {
     font-size: 36px;
    }
   }

   @media(max-width: 427px) {
    .card {
     width: 320px;
    }
    .inf, .img {
     width: 320px;
     box-sizing: border-box;
    }
    .title, .color {
     font-size: 36px;
    }
   }