.footer {
    background-color: #212121;
}

.content {
    max-width: 1480px;
    margin: auto;
    padding-top: 99px;
}

.title {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 40px;
}

.cities {
    display: flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #F5F5F5;
    padding-bottom: 115px;
    border-bottom: 2px solid #424242;
}
.item , .icon {
    cursor: pointer;
}
.columns {
    display: flex;
    column-gap: 116px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #F5F5F5;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 63px;
    border-bottom: 2px solid #424242;
    padding-top: 63px;
}

.right {
    display: flex;
    margin-top: 16px;
    padding-bottom: 88px;
    column-gap: 10px;
}

.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #F5F5F5;
}

.company {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #F5F5F5;
}

.follow {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #F5F5F5;
    opacity: 0.6;
    margin: 0 0 40px 0;
}

.icons {
    display: flex;
    column-gap: 16px;
}

.receive {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #BBBBBB;
    margin: 43px 0 40px 0;
}

.input {
    padding: 7px 0px 8px 16px;
    width: 334px;
    height: 60px;
    background: #424242;
    border-radius: 8px;
    border: none;
}

.input::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #ADADAD;
    padding-left: 40px;
    background-image: url(../../images/email.png);
    background-repeat: no-repeat;
}

.button {
    cursor: pointer;
    width: 6vw;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 21px 27px;
    margin-left: 43px;
}

.block {
    display: flex;
}

@media (max-width: 1567px) {
    .content {
        max-width: 1200px;
    }

    .button {
        width: auto;
    }

    .input {
        width: 244px;
    }
}


@media (max-width: 1290px) {
    .content {
        max-width: 1000px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .info {
        column-gap: 99px;
    }
}

@media (max-width: 1092px) {
    .content {
        width: 90vw;
    }

    .cities {
        flex-wrap: wrap;
        width: 90vw;
    }

    .info {
        display: block;
    }

    .columns {
        justify-content: space-between;
        margin-bottom: 60px;
    }
}

@media (max-width: 1055px) {
    .cities {
        justify-content: normal;
        column-gap: 80px;
    }

    .columns {
        justify-content: normal;
        column-gap: 230px;
    }
}

@media (max-width: 953px) {
    .cities {
        justify-content: normal;
        column-gap: 50px;
    }

    .columns {
        justify-content: normal;
        column-gap: 180px;
    }
}


@media (max-width: 820px) {
    .cities {
        justify-content: flex-start;
        column-gap: 150px;
        row-gap: 50px;
    }

    .columns {
        justify-content: normal;
        column-gap: 140px;
    }
}



@media (max-width: 680px) {
    .cities {
        justify-content: flex-start;
        column-gap: 70px;
    }

    .columns {
        justify-content: normal;
        column-gap: 110px;
    }
}


@media (max-width: 540px) {

    .columns {
        justify-content: normal;
        column-gap: 80px;
    }
}


@media (max-width: 450px) {
    .title {
        text-align: center;
    }

    .cities {
        flex-direction: column;
        justify-content: center;
        font-size: 22px;
        align-items: center;
    }

    .columns {
        justify-content: normal;
        column-gap: 40px;
        font-size: 15px;
    }

    .block {
        flex-direction: column;
    }

    .input,
    .button {
        width: 244px;
        box-sizing: border-box;
    }

    .button {
        margin: 0;
    }

    .title {
        font-size: 20px;
    }

    .block {
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
    }
}