.img {
    border-radius: 50%;
    width: 11vw;
    cursor: pointer;
}

.name {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #424242;

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 990px) {
    .img {
        width: 15vw;
    }
}

@media (max-width: 750px) {
   .name {
    font-size: 20px;
   }
}


@media (max-width: 682px) {
    .img {
        width: 23vw;
    }
 }