@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.container {
    margin: 0 auto;
}

.prev {
    left: -110px;

}

.next {
    right: -70px;
}

.L {
    right: 96px;
    top: -160px;
}

.R {
    right: 0;
    top: -160px;
}

.next,
.prev,
.L,
.R {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #FAAA01;
    color: white;
    cursor: pointer;
    position: absolute;
    font-size: 3vw;
    border-radius: 50%;
    border: none;
}

.next,
.prev {
    top: 150px;
    width: 77px;
    height: 77px;
}

.L,
.R {
    width: 76px;
    height: 76px;
}

@media(max-width: 1150px) {


    .next,
    .prev {
        width: 46px;
        height: 46px;
    }

    .prev {
        left: -60px;
    }

    .next {
        right: -30px;
    }
}


@media(max-width: 1100px) {


    .L,
    .R {
        width: 35px;
        height: 35px;
    }

    .next,
    .prev {
        top: 120px;
    }

    .L,
    .R,
    .prev,
    .next {
        font-size: 2vw;
    }

    .L {
        right: 46px;
    }
}

@media(max-width: 967px) {

    .next,
    .prev {
        top: 140px;
    }
}


@media(max-width: 830px) {
    .next {
        right: -90px;
    }

    .prev {
        left: -90px;
    }

    .next,
    .prev {
        top: 180px;
        width: 76px;
        height: 76px;
        font-size: 5vw;
    }
}


@media(max-width: 670px) {

    .L,
    .R {
        font-size: 3vw;
    }
}


@media(max-width: 600px) {

    .next,
    .prev {
        width: 46px;
        height: 46px;
        top: 150px;
    }
}



@media(max-width: 500px) {

    .L,
    .R {
        top: -60px;
    }

    .prev, .next {
        top: 100px;
    }
}


@media(max-width: 630px) {

    .L,
    .R {
        top: -110px;
    }

}

@media(max-width: 430px) {

    .L {
        right: 65px;
        font-size: 6vw;
    }

    .R {
        font-size: 6vw
    }

    .prev {
        left: -60px;
    }

    .next {
        right: -60px;
    }
}