.card {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.name {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;  
    text-align: center; 
    color: #434343;
}

.desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #9E9E9E;
}

@media (max-width: 780px) {
  .card {
    width: 40vw;
  }
}